@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply block w-max cursor-pointer rounded-md px-3 py-2;
  }

  .btn_primary {
    @apply bg-primary text-white hover:bg-secondary hover:text-white hover:shadow-md;
  }

  .btn_secondary {
    @apply border-[1px] border-bodyColor text-primary hover:bg-bodyColor hover:text-white;
  }

  .line-fx {
    position: relative;
    padding-left: 10px;
    &::before {
      content: "";
      @apply absolute bottom-0 left-0 top-0 block h-full w-1 rounded-sm bg-primary;
    }
  }
}
